.newCommentForm{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px 20px 20px 20px;
}

.commentTextArea{
    width: 500px;
    height: 100px;

}

.divider{
    width: 100%;
    border-bottom: solid 1px;
}

.sortText{
    color: rgb(64, 69, 75);
    font-size: 75%;
}

.newCommentButton{
    width: fit-content;
    margin-top: 5px;
}

.repliesContainer{
    border-left: solid .5px  transparent;
    /* border-bottom: solid 1px; */
    border-color: rgb(151, 148, 144);
    margin-top: 15px;
    /* border-top: solid .1px; */
    padding-left: 8px;
}

.parentComment{
    /* border-left: .5px solid transparent; */
    margin-top: 20px;
    /* border-top: solid 1px; */
    padding-top: 10px;
    border-color: rgb(167, 164, 159);
    /* padding-left: 8px; */
    
}

.commentUserName{
    text-decoration: none;
}

