SubMockitThread.subMockitContainer{
    width: 200%;
}

.subMockits{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.linkAndSource{
    font-size: 15px;
    margin-bottom: 5px;
}

.whoWhenAndWhere{
    font-size: 12px;
    margin-bottom: 7px;
}

.commentsAndSharing{
    font-size: 12px;
    margin-bottom: 10px;
}

.userSubMockitLink{

}

.subMockItLink{

}