#mockItMenu{
    margin: 2px 10px 10px auto;
    height: 500px;
    width: 100%;
    position: relative;
}

#mockItMenuContainer{
    /* border: solid; */
    float: right;
    display: flex;
    flex-direction: column;
    width: 300px;
   
}

#mockItSearch{
    height: 50px;
    width: 98%;
    margin-bottom: 20px;
}

.mockItButton{
    height: 50px;
    margin-bottom: 20px;
    background-color: rgb(217, 239, 253);
    border-radius: 0px 500px 500px 0px;
    font-size: larger;
    color: rgb(50, 50, 77);
}

.subscriptionContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.subscribe{
width: fit-content;
padding-left: 12px;
padding-right: 12px;
background-color: rgb(66, 131, 1);
color: white;
border: solid 1px;
margin-right: 5px;
}

.unsubscribe{
width: fit-content;
padding-left: 8px;
padding-right: 8px;
background-color: rgb(129, 64, 3);
color: rgb(255, 255, 255);
border: solid 1px;
margin-right: 5px;
}

.subscribers{

}


