.threadContainer{
    display: flex;
    flex-direction: row;
    /* height: fit-content;
    width: fit-content; */
}

.votesDisplay{
    margin: 3px 3px 3px 3px;
    width: fit-content;
    height: 25px;
}

.voteCount{
    font-size: 90%;
    width: 100%;
    margin-left: 2px;
}
.downVote{
    margin-top: 5px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgb(163, 149, 149);
    cursor: pointer;
}

.subMockit{
    width: 200%;
}

.SubMockitThread{
    width: 200%;
    margin-left: 15px;
}

.subMockits{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.linkAndSource{
    font-size: 15px;
    margin-bottom: 5px;
    
}

.whoWhenAndWhere{
    font-size: 12px;
    margin-bottom: 7px;
}

.commentsAndSharing{
    font-size: 12px;
    margin-bottom: 10px;
}

.outsideLink{
    text-decoration: none;
}

.subMockItLink{
    text-decoration: none;
    color: blue;
}